// CSS resets
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
}

// variables
$fontSize-desktop: 1.5rem;
$fontSize-mobile: 1rem;
$pictureFrame-width: 300px;


@mixin button-round {    
    width: $fontSize-desktop * 6.7; // Scale based on font-size.
    height: $fontSize-desktop * 2; // Scale Based on font-size.    
    border-radius: $fontSize-desktop * 26.7; // Scale based on font-size.
    padding-top: $fontSize-desktop * 0.2; // Scale based on font-size.
    font-size: $fontSize-desktop;
    background-color: coral;
    text-align: center;
}

// Custom classes
.hero > nav >.show-links {
    display: block;
}

.hide-logo {
    display: none;
}